@import '../../variable.scss';

@keyframes delayedShow {
  to {opacity: 1;}
}

.layout__container{
  opacity: 0;
  border: none;
  bottom: 0;
  overflow: auto;
  right: 0;
  animation: 0.35s alternate 0.7s forwards delayedShow;
  position: relative;
  padding-top: 90px;
  padding-left: 60px;
  .layout__form {
    color: $primary;
  }
}
.layout__logout{
  padding-left: 1250px;
}
.layout__login{
  padding-left: 45%;
}
.button__login{
  padding-left: 40%;
  padding-top: 20px;
}