// colors
$primary: #14aa4b;
$secondary: #aa1428;
$tertiary: #9514aa;

$primary-light: #2be66f;
$secondary-light: #e62b44;
$tertiary-light: #d245e8;

$dash-primary: #E8E800;
$dash-secondary: #E8E800;
$dash-tertiary: #9514aa;

